 body {
   background: url("https://images.rawpixel.com/image_1300/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjEwMTUtMTAxLWtzdG9wamFmLmpwZw.jpg?s=LGWCBBIn8eume5zSy9xYW4g4wch1T4RFJ0ckyS3eihQ")no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
   background-size: cover;
   font-family: 'Fredoka One', cursive;
   color: #ffffff;
   font-size: 50px;
   height: 100vh;
   width: 100vw;
   display: flex;
   justify-content: space-evenly;
   align-items: flex-start;
 }

 .player-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 100vh;
 }

 .player-board {
   font-size: 130px;
   display: flex;
   flex-direction: column;
   height: 30vh;
 }

 .p1-scoreboard-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width:305px;
   height:320px;
   background:#FFFFFF;
   box-shadow: 10px 10px rgb(144, 200, 232, 0.2);
   border-radius:100px;
   color: #66b5e4;
 }

 .p2-scoreboard-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width:305px;
   height:320px;
   background:#FFFFFF;
   box-shadow: 10px 10px rgb(144, 200, 232, 0.2);
   border-radius:100px;
   color: #66b5e4;
 }

 .main-section-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 100vh;
   width: 40%;
 }

 h1 {
   font-size: 80px;
   color: #ffffff;
   margin-top: 5px;
   margin-bottom: 5px;
   white-space: nowrap;
 }

 h2 {
   margin-top: 5px;
   margin-bottom: 5px;
 }

 .display-message-section {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 150px;
   width: 600px;
 }

 .gameboard {
   display: grid;
   grid-template-rows: 150px 150px 150px;
   grid-template-columns: 150px 150px 150px;
   margin-top: 10px;
   border: 5px solid #f9f9f9;
   border-radius: 10px;
 }

 .box {
   display: flex;
   justify-content: center;
   outline: 5px solid #f9f9f9;
   border-radius: 10px;
 }
